<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fise.dao.IMDeviceVersionMapper">
  <resultMap id="BaseResultMap" type="com.fise.model.entity.IMDeviceVersion">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="departid" jdbcType="INTEGER" property="departid" />
    <result column="dev_type" jdbcType="INTEGER" property="devType" />
    <result column="dev_version" jdbcType="VARCHAR" property="devVersion" />
    <result column="version_info" jdbcType="VARCHAR" property="versionInfo" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="update_url" jdbcType="VARCHAR" property="updateUrl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, departid, dev_type, dev_version, version_info, status, update_url
  </sql>
  <select id="selectByExample" parameterType="com.fise.model.entity.IMDeviceVersionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from IMDeviceVersion
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from IMDeviceVersion
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from IMDeviceVersion
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fise.model.entity.IMDeviceVersionExample">
    delete from IMDeviceVersion
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fise.model.entity.IMDeviceVersion">
    insert into IMDeviceVersion (id, departid, dev_type, 
      dev_version, version_info, status, 
      update_url)
    values (#{id,jdbcType=INTEGER}, #{departid,jdbcType=INTEGER}, #{devType,jdbcType=INTEGER}, 
      #{devVersion,jdbcType=VARCHAR}, #{versionInfo,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{updateUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fise.model.entity.IMDeviceVersion">
    insert into IMDeviceVersion
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="departid != null">
        departid,
      </if>
      <if test="devType != null">
        dev_type,
      </if>
      <if test="devVersion != null">
        dev_version,
      </if>
      <if test="versionInfo != null">
        version_info,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="updateUrl != null">
        update_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="departid != null">
        #{departid,jdbcType=INTEGER},
      </if>
      <if test="devType != null">
        #{devType,jdbcType=INTEGER},
      </if>
      <if test="devVersion != null">
        #{devVersion,jdbcType=VARCHAR},
      </if>
      <if test="versionInfo != null">
        #{versionInfo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="updateUrl != null">
        #{updateUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fise.model.entity.IMDeviceVersionExample" resultType="java.lang.Long">
    select count(*) from IMDeviceVersion
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update IMDeviceVersion
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.departid != null">
        departid = #{record.departid,jdbcType=INTEGER},
      </if>
      <if test="record.devType != null">
        dev_type = #{record.devType,jdbcType=INTEGER},
      </if>
      <if test="record.devVersion != null">
        dev_version = #{record.devVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.versionInfo != null">
        version_info = #{record.versionInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.updateUrl != null">
        update_url = #{record.updateUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update IMDeviceVersion
    set id = #{record.id,jdbcType=INTEGER},
      departid = #{record.departid,jdbcType=INTEGER},
      dev_type = #{record.devType,jdbcType=INTEGER},
      dev_version = #{record.devVersion,jdbcType=VARCHAR},
      version_info = #{record.versionInfo,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      update_url = #{record.updateUrl,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fise.model.entity.IMDeviceVersion">
    update IMDeviceVersion
    <set>
      <if test="departid != null">
        departid = #{departid,jdbcType=INTEGER},
      </if>
      <if test="devType != null">
        dev_type = #{devType,jdbcType=INTEGER},
      </if>
      <if test="devVersion != null">
        dev_version = #{devVersion,jdbcType=VARCHAR},
      </if>
      <if test="versionInfo != null">
        version_info = #{versionInfo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="updateUrl != null">
        update_url = #{updateUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fise.model.entity.IMDeviceVersion">
    update IMDeviceVersion
    set departid = #{departid,jdbcType=INTEGER},
      dev_type = #{devType,jdbcType=INTEGER},
      dev_version = #{devVersion,jdbcType=VARCHAR},
      version_info = #{versionInfo,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      update_url = #{updateUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
   <select id="selectByPage" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from IMDeviceVersion
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
  </select>
</mapper>