<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="../../css/global.css"/>
	<link rel="stylesheet" href="../../css/bootstrap.css"/>
	<link rel="stylesheet" href="../../css/bootstrap-select.css"/>
	<link rel="stylesheet" href="../../css/pagination.css"/>
	<link rel="stylesheet" href="../../resource/plugin/toastr/toastr.css"/>
	<style>
		#modal-loading{
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 2000;
			display: none;
			overflow: hidden;
			-webkit-overflow-scrolling: touch;
			outline: 0;
		}
		#modal-loading .modal-dialog{
			width:200px;
			margin:180px auto;
		}
		td{
			min-width: 80px;
		}
	</style>
</head>

<body>
<div class="container-fluid">
	<div class="row">
		<div class="mod-body">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div id="dev-query-condition" class="navbar-form navbar-left"style="padding-left: 0px;">
						<div class="form-group">
							<div class="col-sm-10" style="min-width: 102px; padding-left: 0px;padding-right: 22px">
								<select name="search-online_status" id="input-page-content-num" class="selectpicker show-menu-arrow show-tick form-control">
									<option value="10" selected="selected">10行</option>
									<option value="25">25行</option>
									<option value="50">50行</option>
									<option value="100">100行</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<input id="input-search-IME" type="text" class="form-control" placeholder="请输入设备ID">
							<input id="input-search-XW" type="text" class="form-control" placeholder="请输入管理员ID">
						</div>
						<button id="btn-search" type="button" class="btn btn-success">
							<span class="glyphicon glyphicon-search"> </span>
						</button>
					</div>

				</div>
				<div class="modal fade" id="addTempl-modal" tabindex="-1" role="dialog" aria-labelledby="addTempl-modal-label" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="addTempl-modal-label">查看详情</h4>
							</div>
							<div class="modal-body">
								<form id="form-addTempl" data-action="" class="form-horizontal">

									<div class="form-group col-sm-6" >
										<label for="device_id" class="col-sm-4 control-label"><span class="necessary">*</span>设备ID</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="device_id" name="devappName" placeholder="请输入应用名称" readonly style="border: 0;background: #fff;box-shadow: none;-webkit-box-shadow: none;" >
										</div>
									</div>
									<div class="form-group col-sm-6" >
										<label for="master_id" class="col-sm-4 control-label"><span class="necessary">*</span>管理员ID</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="master_id" name="devappName" placeholder="请输入应用名称" readonly style="border: 0;background: #fff;box-shadow: none;-webkit-box-shadow: none;" >
										</div>
									</div>
									<div class="form-group col-sm-6" >
										<label for="group_id" class="col-sm-4 control-label"><span class="necessary">*</span>管理群组ID</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="group_id" name="devappName" placeholder="请输入应用名称" readonly style="border: 0;background: #fff;box-shadow: none;-webkit-box-shadow: none;" >
										</div>
									</div>
									<div class="form-group col-sm-6" >
										<label for="manage-NO" class="col-sm-4 control-label"><span class="necessary">*</span>管理员号码</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="manage-NO" name="devappName" placeholder="请输入应用名称" readonly style="border: 0;background: #fff;box-shadow: none;-webkit-box-shadow: none;" >
										</div>
									</div>
									<div class="form-group col-sm-6" >
										<label for="shedding-alarm" class="col-sm-4 control-label"><span class="necessary">*</span>脱落报警</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="shedding-alarm" name="devappName" placeholder="请输入应用名称" readonly style="border: 0;background: #fff;box-shadow: none;-webkit-box-shadow: none;" >
										</div>
									</div>
									<div class="form-group col-sm-6" >
										<label for="electric-power-alarm" class="col-sm-4 control-label"><span class="necessary">*</span>电量报警</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="electric-power-alarm" name="devappName" placeholder="请输入应用名称" readonly style="border: 0;background: #fff;box-shadow: none;-webkit-box-shadow: none;" >
										</div>
									</div>
									<div class="form-group col-sm-6" >
										<label for="shutdown-alarm" class="col-sm-4 control-label"><span class="necessary">*</span>关机报警</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="shutdown-alarm" name="devappName" placeholder="请输入应用名称" readonly style="border: 0;background: #fff;box-shadow: none;-webkit-box-shadow: none;" >
										</div>
									</div>
									<div class="form-group col-sm-6" >
										<label for="silent-monitor" class="col-sm-4 control-label"><span class="necessary">*</span>静默监听</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="silent-monitor" name="devappName" placeholder="请输入应用名称" readonly style="border: 0;background: #fff;box-shadow: none;-webkit-box-shadow: none;" >
										</div>
									</div>
									<div class="form-group col-sm-6" >
										<label for="step-counter" class="col-sm-4 control-label"><span class="necessary">*</span>计步</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="step-counter" name="devappName" placeholder="请输入应用名称" readonly style="border: 0;background: #fff;box-shadow: none;-webkit-box-shadow: none;" >
										</div>
									</div>
									<div class="form-group col-sm-6" >
										<label for="call-alarm" class="col-sm-4 control-label"><span class="necessary">*</span>通话报警</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="call-alarm" name="devappName" placeholder="请输入应用名称" readonly style="border: 0;background: #fff;box-shadow: none;-webkit-box-shadow: none;" >
										</div>
									</div>
									<div class="form-group col-sm-6" >
										<label for="charging" class="col-sm-4 control-label"><span class="necessary">*</span>充电</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="charging" name="devappName" placeholder="请输入应用名称" readonly style="border: 0;background: #fff;box-shadow: none;-webkit-box-shadow: none;" >
										</div>
									</div>
									<div class="form-group col-sm-6" >
										<label for="working-mode" class="col-sm-4 control-label"><span class="necessary">*</span>工作模式</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="working-mode" name="devappName" placeholder="请输入应用名称" readonly style="border: 0;background: #fff;box-shadow: none;-webkit-box-shadow: none;" >
										</div>
									</div>
									<div class="form-group col-sm-6" >
										<label for="answer-ring-pattern" class="col-sm-4 control-label"><span class="necessary">*</span>响铃模式</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="answer-ring-pattern" name="devappName" placeholder="请输入应用名称" readonly style="border: 0;background: #fff;box-shadow: none;-webkit-box-shadow: none;" >
										</div>
									</div>
									<div class="form-group col-sm-6" >
										<label for="schoolID" class="col-sm-4 control-label"><span class="necessary">*</span>学校ID</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="schoolID" name="devappName" placeholder="请输入应用名称" readonly style="border: 0;background: #fff;box-shadow: none;-webkit-box-shadow: none;" >
										</div>
									</div>
									<div class="form-group col-sm-6" >
										<label for="light_time" class="col-sm-4 control-label"><span class="necessary">*</span>亮屏时间</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="light_time" name="devappName" placeholder="请输入应用名称" readonly style="border: 0;background: #fff;box-shadow: none;-webkit-box-shadow: none;" >
										</div>
									</div>
									<div class="form-group col-sm-6" >
										<label for="update-time" class="col-sm-4 control-label"><span class="necessary">*</span>更新时间</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="update-time" name="devappName" placeholder="请输入应用名称" readonly style="border: 0;background: #fff;box-shadow: none;-webkit-box-shadow: none;" >
										</div>
									</div>
									<div class="form-group col-sm-6" >
										<label for="creation-time" class="col-sm-4 control-label"><span class="necessary">*</span>创建时间</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="creation-time" name="devappName" placeholder="请输入应用名称" readonly style="border: 0;background: #fff;box-shadow: none;-webkit-box-shadow: none;" >
										</div>
									</div>

								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
								<button id="btn-add-submit" type="button" class="btn btn-primary">提交</button>
							</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal -->
				</div>
			</nav>
			<table id="table" class="table table-striped table-hover table-content">
				<thead>
				<tr>
					<th>设备ID</th>
					<th>管理员ID</th>
					<th style="width: 100px">管理群组ID</th>
					<th style="width: 110px">管理员号码</th>
					<th>脱落报警</th>
					<th>电量报警</th>
					<th>关机报警</th>
					<th>静默监听</th>
					<th>计步</th>
					<th>通话报警</th>
					<th>充电</th>
					<th>工作模式</th>
					<th>响铃模式</th>
					<!--<th>学校ID</th>-->
					<th>亮屏时间</th>
					<!--<th>更新时间</th>
					<th>创建时间</th>-->
					<th style="width: 80px">管理</th>
				</tr>
				</thead>
				<tbody id="pageContent"></tbody>
				<tfoot>
				<tr>
					<td colspan="6">
						<div id="pagination" class="pagination"></div>
					</td>
				</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>
<div class="fileContentTxt" style="display: none;"></div>

<div class="modal fade" id="modal-loading" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body" style="text-align: center;">
				正在添加数据<br><img src="../../images/uploading.gif">
			</div>
		</div>
	</div>
</div>

<script type ="text/javascript" src="../../js/jquery.min.js"></script>
<script type ="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type ="text/javascript" src="../../js/bootstrap-select.js"></script>
<script type ="text/javascript" src="../../js/jquery.tmpl.js"></script>
<script type ="text/javascript" src="../../resource/plugin/toastr/toastr.min.js"></script>
<script type ="text/javascript" src="../../js/Util.js"></script>
<script type ="text/javascript" src="js/dev-conf.js"></script>
<!-- jQuery Validate -->
<script type ="text/javascript" src="../../resource/plugin/jquery.validate-1.14.0/jquery.validate.min.js"></script>
<script type ="text/javascript" src="../../resource/plugin/jquery.validate-1.14.0/additional-methods.min.js"></script>
<script type ="text/javascript" src="../../resource/plugin/jquery.validate-1.14.0/jquery.validate.extend.js"></script>
<script type="text/x-jquery-tmpl" id="pageTmpl">
<tr>
	<td >${device_id}</td>
	<td>${master_id}</td>
	<td>${group_id}</td>
	<td>${mobile}</td>
	<td >{{if alarm_tokenoff == 0}}关闭 {{else alarm_tokenoff == 1}}打开{{/if}}</td>
	<td>{{if alarm_battery == 0}}关闭 {{else alarm_battery == 1}}打开{{/if}}</td>
	<td>{{if alarm_poweroff == 0}}关闭 {{else alarm_poweroff == 1}}打开{{/if}}</td>
	<td>{{if listen_silent == 0}}关闭 {{else listen_silent == 1}}打开{{/if}}</td>
	<td>{{if step_mode == 0}}关闭 {{else step_mode == 1}}打开{{/if}}</td>
	<td>{{if alarm_call == 0}}关闭 {{else alarm_call == 1}}打开{{/if}}</td>
	<td>{{if electricize == 0}}没充 {{else electricize == 1}}充电{{/if}}</td>
	<td>{{if mode == 1}}普通模式 {{else mode == 2}}省电模式 {{else mode == 3}}休眠模式{{/if}}</td>
	<td>{{if bell_mode == 0}}静音 {{else bell_mode == 1}}震动 {{else bell_mode == 2}}响铃{{/if}}</td>
	<td style="display:none">${school_id}</td>
	<td>${light_time}</td>
	<td style="display:none">${Util.formatDateTime(updated)}</td>
	<td style="display:none">${Util.formatDateTime(created)}</td>
	<td class="table-update">
			<a href="javascript:void(0);" class="table-edit-btn">
				<button type="button" class="btn btn-default btn-sm btn-eye">
					<span class="glyphicon glyphicon-eye-open"></span> 查看
				</button>
			</a>
	</td>
</tr>
</script>

<script type="text/javascript">
	function querySchool(school_id) {
		var url = ctx + "xiaoyusvr/school/queryschool";
		var data = new Object();
		data.school_id = [school_id];

		Util.ajaxLoadData(url,data,0,"POST",true,function(result) {
			if (result.code == ReturnCode.SUCCESS) {
				 return result.data[0].school_name
			}else{
				alert(result.msg);
			}
		});
	}
    toastr.options={
        positionClass : 'toast-center-center',
        showDuration: "300",
        hideDuration: "300",
        timeOut: "1000"
    };
</script>
<script>
function uploadfile(input) {
    //html5 支持chrome IE10 FF
    if (window.FileReader) {
        var file = input.files[0];
        filename = file.name.split(".")[0];
        var reader = new FileReader();
        reader.onload = function() {
            $(".fileContentTxt").html(this.result);
        };
        reader.readAsText(file);
    }
}
</script>
</body>
</html>