<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="../../css/global.css"/>
	<link rel="stylesheet" href="../../css/bootstrap.css"/>
	<link rel="stylesheet" href="../../css/bootstrap-select.css"/>
	<link rel="stylesheet" href="../../css/pagination.css"/>
	<link rel="stylesheet" href="../../resource/plugin/toastr/toastr.css"/>
	<style>
		#modal-loading{
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 2000;
			display: none;
			overflow: hidden;
			-webkit-overflow-scrolling: touch;
			outline: 0;
		}
		#modal-loading .modal-dialog{
			width:200px;
			margin:180px auto;
		}

	</style>
</head>

<body>
<div class="container-fluid">
	<div class="row">
		<div class="mod-body">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div id="dev-query-condition" class="navbar-form navbar-left" style="padding-left: 0px">
						<div class="form-group">
							<div class="col-sm-10" style="min-width: 102px; padding-left: 0px;padding-right: 22px">
								<select name="search-online_status" id="input-page-content-num" class="selectpicker show-menu-arrow show-tick form-control">
									<option value="10" selected="selected">10行</option>
									<option value="25">25行</option>
									<option value="50">50行</option>
									<option value="100">100行</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<input id="input-search-user_id" type="text" class="form-control" placeholder="请输入用户ID">
						</div>
						<div class="form-group">
						    <input id="input-search-domain" type="text" class="form-control" placeholder="请输入用户小雨号">
						</div>
						<div class="form-group">
							<input id="input-search-phone" type="text" class="form-control" placeholder="请输入用户电话号码">
						</div>
						<div class="form-group">
							<div class="col-sm-10" style="min-width: 204px">
								<select name="search-online_status" id="input-search-online_status" class="selectpicker show-menu-arrow show-tick form-control">
									<option value="">请选择用户在线状态</option>
									<option value="1">在线</option>
									<option value="0">离线</option>
								</select>
							</div>
						</div>

						<button id="btn-search" type="button" class="btn btn-success">
							<span class="glyphicon glyphicon-search"> </span>
						</button>
					</div>

					<!--<div class="navbar-form navbar-right">
						&lt;!&ndash;<button id="btn-add" type="button" class="btn btn-default" data-toggle="modal" data-target="#addTempl-modal">
							<span class="glyphicon glyphicon-plus"> </span><span style="margin-left: 3px">添加设备信息</span>
						</button>&ndash;&gt;
						&lt;!&ndash;<button id="btn-add-file" type="button" class="btn btn-default" data-toggle="modal" data-target="#addTempl-modal2">
							<span class="glyphicon glyphicon-plus"> </span><span style="margin-left: 3px">批量添加设备</span>
						</button>&ndash;&gt;
					</div>-->
					<div class="modal right fade" id="addTempl-modal" tabindex="-1" role="dialog" aria-labelledby="addTempl-modal-label" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="addTempl-modal-label">添加/编辑设备信息</h4>
								</div>
								<div class="modal-body">
									<form id="form-addTempl" data-action="" class="form-horizontal">
										<input type="hidden" id="input-id">
										<div class="form-group">
											<label for="input-devIME" class="col-sm-2 control-label"><span class="necessary">*</span>IME</label>
											<div class="col-sm-10">
												<input type="text" class="form-control" id="input-devIME" name="devIME" placeholder="输入设备IME">
											</div>
										</div>
										<div class="form-group">
											<label for="input-devXW" class="col-sm-2 control-label"><span class="necessary">*</span>小雨号</label>
											<div class="col-sm-10">
												<input type="text" class="form-control" id="input-devXW" name="devXW" placeholder="输入小雨号">
											</div>
										</div>
										<div class="form-group" id="input-devType-wrap">
											<label for="input-devType" class="col-sm-2 control-label"><span class="necessary">*</span>设备类型</label>
											<div class="col-sm-10">
												<select name="devType" id="input-devType" class="form-control">
													<option value="">请选择</option>
												</select>
											</div>
										</div>
										<div class="form-group" id="input-devTypeNo-wrap">
											<label class="col-sm-2 control-label">设备类型</label>
											<div class="col-sm-10 form-txt">
												<input type="text" class="form-control" id="input-devTypeNo" name="devTypeNo" readonly="readonly" style="border: 0;background: #fff;box-shadow: none;-webkit-box-shadow: none;">
											</div>
										</div>
										<div class="form-group" id="input-devType-txt-wrap">
											<label class="col-sm-2 control-label">设备类型名称</label>
											<div class="col-sm-10 form-txt">
												<input type="text" class="form-control" id="input-devType-txt" name="devType-txt" readonly="readonly" style="border: 0;background: #fff;box-shadow: none;-webkit-box-shadow: none;">
											</div>
										</div>
										<div class="form-group" id="input-phoneNo-wrap">
											<label for="input-phoneNo" class="col-sm-2 control-label">电话号码</label>
											<div class="col-sm-10">
												<input type="text" class="form-control" id="input-phoneNo" name="phoneNo" placeholder="输入电话号码">
											</div>
										</div>
										<div class="form-group" id="input-Mark-wrap">
											<label for="input-Mark" class="col-sm-2 control-label">mark</label>
											<div class="col-sm-10">
												<input type="text" class="form-control" id="input-Mark" name="Mark" placeholder="输入mark">
											</div>
										</div>
										<div class="form-group" id="input-status-wrap">
											<label class="col-sm-2 control-label">状态</label>
											<div class="col-sm-10">
												<label class="radio-inline">
													<input type="radio" name="status" id="radio-status-enabled" value="0" checked> 未激活
												</label>
												<label class="radio-inline">
													<input type="radio" name="status" id="radio-status-disabled" value="1"> 激活
												</label>
											</div>
										</div>
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
									<button id="btn-add-submit" type="button" class="btn btn-primary">提交</button>
								</div>
							</div><!-- /.modal-content -->
						</div><!-- /.modal -->
					</div>

					<div class="modal right fade" id="addTempl-modal2" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title">批量添加设备信息</h4>
								</div>
								<div class="modal-body">
									<div class="form-horizontal">
										<div class="form-group">
											<label class="col-sm-2 control-label"><span class="necessary">*</span>选择文件</label>
											<div class="col-sm-10">
												<input type="file" id="filepath" name="filetxt" onchange="uploadfile(this)">
											</div>
										</div>
										<div class="form-group" id="input-devType-wrap2">
											<label for="input-devType2" class="col-sm-2 control-label"><span class="necessary">*</span>设备类型</label>
											<div class="col-sm-10">
												<select name="devType2" id="input-devType2" class="form-control">
													<option value="">请选择</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
									<button id="btn-add-submit2" type="button" class="btn btn-primary">提交</button>
								</div>
							</div><!-- /.modal-content -->
						</div><!-- /.modal -->
					</div>

				</div>
			</nav>
			<table id="table" class="table table-striped table-hover table-content">
				<thead>
				<tr>
					<th>用户ID</th>
					<th style="width: 60px;">性别</th>
					<th>小雨号</th>
					<th style="width: 105px;">昵称</th>
					<th style="width: 105px;">电话号码</th>
					<th style="width: 170px;">Email</th>
					<th>省份</th>
					<th>市县</th>
					<th>用户类型</th>
					<th>在线状态</th>
					<th style="width: 150px">最近上线时间</th>
					<th style="width: 150px">创建时间</th>
					<!--<th>管理</th>-->
				</tr>
				</thead>
				<tbody id="pageContent"></tbody>
				<tfoot>
				<tr>
					<td colspan="6">
						<div id="pagination" class="pagination"></div>
					</td>
				</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>
<div class="fileContentTxt" style="display: none;"></div>

<div class="modal right fade" id="modal-loading" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body" style="text-align: center;">
				正在添加数据<br><img src="../../images/uploading.gif">
			</div>
		</div>
	</div>
</div>

<script type ="text/javascript" src="../../js/jquery.min.js"></script>
<script type ="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type ="text/javascript" src="../../js/bootstrap-select.js"></script>
<script type ="text/javascript" src="../../js/jquery.tmpl.js"></script>
<script type ="text/javascript" src="../../resource/plugin/toastr/toastr.min.js"></script>
<script type ="text/javascript" src="../../js/Util.js"></script>
<script type ="text/javascript" src="js/user-query.js"></script>
<!-- jQuery Validate -->
<script type ="text/javascript" src="../../resource/plugin/jquery.validate-1.14.0/jquery.validate.min.js"></script>
<script type ="text/javascript" src="../../resource/plugin/jquery.validate-1.14.0/additional-methods.min.js"></script>
<script type ="text/javascript" src="../../resource/plugin/jquery.validate-1.14.0/jquery.validate.extend.js"></script>
<script type="text/x-jquery-tmpl" id="pageTmpl">
<tr>
	<td >${id}</td>
	<td>{{if sex == 0}}未知 {{else sex == 1}}男{{else sex == 1}}女{{/if}}</td>
	<td>${domain}</td>
	<td >${nick}</td>
	<td>${phone}</td>
	<td>${email}</td>
	<td>${province}</td>
	<td>${city}</td>
	<td>${typeNameQuery(type)}</td>
	<td>{{if onlineStatus == 0}}离线 {{else onlineStatus == 1}}在线{{/if}}</td>
	<td>${Util.formatDateTime(lastOnlineTime)}</td>
	<td style="display:none;">${type}</td>
	<td>${Util.formatDateTime(created)}</td>
	<!--<td>
	    <a href="javascript:void(0);" class="table-edit-btn">编辑</a>
	    <a href="javascript:void(0);" onclick="action.deleteItem(${fise_id})">删除</a>
	</td>-->
</tr>
</script>


<script type="text/x-jquery-tmpl" id="pageDevType">
    <option value=${client_type}>${client_name}</option>
</script>
<script type="text/x-jquery-tmpl" id="page_dev_online_count">
 ${online_device}
</script>
<script type="text/x-jquery-tmpl" id="page_dev_active_count">
 ${active_device}
</script>
<script type="text/x-jquery-tmpl" id="page_xw_online_count">
 ${online_XM}
</script>
<script type="text/x-jquery-tmpl" id="page_xw_active_count">
 ${active_XM}
</script>

<script type="text/javascript">
	var allDevTypeArray = JSON.parse(localStorage.getItem("allDevTypeArray"));
	var Lens = allDevTypeArray.length;
	function typeNameQuery(type){
		 for(var i=0; i< Lens; i++){
			 if(allDevTypeArray[i].client_type == type){
				 return allDevTypeArray[i].client_name;
			 }
		 }
	}
    toastr.options={
        positionClass : 'toast-center-center',
        showDuration: "300",
        hideDuration: "300",
        timeOut: "1000"
    };
</script>
<script>
function uploadfile(input) {
    //html5 支持chrome IE10 FF
    if (window.FileReader) {
        var file = input.files[0];
        filename = file.name.split(".")[0];
        var reader = new FileReader();
        reader.onload = function() {
            $(".fileContentTxt").html(this.result);
        };
        reader.readAsText(file);
    }
    //支持IE 7 8 9 10
	/*else if (typeof window.ActiveXObject != 'undefined'){
	 var xmlDoc;
	 xmlDoc = new ActiveXObject("Microsoft.XMLDOM");
	 xmlDoc.async = false;
	 xmlDoc.load(input.value);
	 alert("支持IE 7 8 9 10"+xmlDoc.xml);
	 }
	 //支持FF
	 else if (document.implementation && document.implementation.createDocument) {
	 var xmlDoc;
	 xmlDoc = document.implementation.createDocument("", "", null);
	 xmlDoc.async = false;
	 xmlDoc.load(input.value);
	 alert("支持FF"+xmlDoc.xml);
	 } else {
	 alert('error');
	 }*/
}
</script>
</body>
</html>